DATABASE_URL=
APP_ENV=
PORT=
MEDIA_STORAGE_MOUNT_PATH=
MEDIA_STORAGE_TEMPORARY_PATH=
NEXTCLOUD_URL=
NEXTCLOUD_USER=
NEXTCLOUD_PASSWORD=
NEXTCLOUD_REMOTE_ROOT=
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=
GO2RTC_KAMERA_SALON=